USE [master]
GO
/****** Objeto: Database [GestionCampanasDB] Fecha de script: 23-09-2026 0:08:23 ******/
CREATE DATABASE [GestionCampanasDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionCampanasDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GestionCampanasDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionCampanasDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\GestionCampanasDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionCampanasDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionCampanasDB]
GO
/****** Objeto: Table [dbo].[AuditoriaLog] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditoriaLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[TablaAfectada] [varchar](50) NOT NULL,
	[Operacion] [varchar](20) NOT NULL,
	[Detalle] [varchar](max) NULL,
	[FechaRegistro] [datetime] NULL,
	[UsuarioBD] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Campana] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campana](
	[CampanaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCampana] [varchar](100) NOT NULL,
	[FechaInicio] [date] NOT NULL,
	[FechaFin] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CampanaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Incidencias] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidencias](
	[IncidenciaID] [int] IDENTITY(1,1) NOT NULL,
	[VentaID] [int] NOT NULL,
	[TipoProblemaID] [int] NOT NULL,
	[Observacion] [varchar](max) NOT NULL,
	[Estado] [varchar](50) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[IncidenciaVenta] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IncidenciaVenta](
	[IncidenciaID] [int] IDENTITY(1,1) NOT NULL,
	[VentaID] [int] NOT NULL,
	[TipoProblemaID] [int] NOT NULL,
	[Observacion] [varchar](500) NULL,
	[Estado] [varchar](30) NULL,
	[FechaRegistro] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IncidenciaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[LogsAuditoria] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogsAuditoria](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Accion] [varchar](100) NULL,
	[Usuario] [varchar](100) NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TipoProblema] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoProblema](
	[TipoProblemaID] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoProblemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[TiposProblema] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposProblema](
	[TipoProblemaID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TipoProblemaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Venta] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[CampanaID] [int] NOT NULL,
	[CodigoVenta] [varchar](50) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[FechaVenta] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[Ventas] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[VentaID] [int] IDENTITY(1,1) NOT NULL,
	[NombreCampana] [varchar](100) NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VentaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Incidencias] ON 

INSERT [dbo].[Incidencias] ([IncidenciaID], [VentaID], [TipoProblemaID], [Observacion], [Estado], [FechaRegistro]) VALUES (1, 105285, 5, N'nuestra cuenta de banco falabela nos bloqueo la ', N'Pendiente', CAST(N'2026-09-09T21:46:47.200' AS DateTime))
INSERT [dbo].[Incidencias] ([IncidenciaID], [VentaID], [TipoProblemaID], [Observacion], [Estado], [FechaRegistro]) VALUES (2, 105285, 5, N'nuestra cuenta de banco falabela nos bloqueo la ', N'Pendiente', CAST(N'2026-09-09T21:46:49.297' AS DateTime))
INSERT [dbo].[Incidencias] ([IncidenciaID], [VentaID], [TipoProblemaID], [Observacion], [Estado], [FechaRegistro]) VALUES (3, 105285, 5, N'nuestra cuenta de banco falabela nos bloqueo la ', N'Pendiente', CAST(N'2026-09-09T21:46:50.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[Incidencias] OFF
GO
SET IDENTITY_INSERT [dbo].[LogsAuditoria] ON 

INSERT [dbo].[LogsAuditoria] ([LogID], [Accion], [Usuario], [Fecha]) VALUES (1, N'Nueva Incidencia Creada', N'sa', CAST(N'2026-09-09T21:46:47.203' AS DateTime))
INSERT [dbo].[LogsAuditoria] ([LogID], [Accion], [Usuario], [Fecha]) VALUES (2, N'Nueva Incidencia Creada', N'sa', CAST(N'2026-09-09T21:46:49.297' AS DateTime))
INSERT [dbo].[LogsAuditoria] ([LogID], [Accion], [Usuario], [Fecha]) VALUES (3, N'Nueva Incidencia Creada', N'sa', CAST(N'2026-09-09T21:46:50.607' AS DateTime))
SET IDENTITY_INSERT [dbo].[LogsAuditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposProblema] ON 

INSERT [dbo].[TiposProblema] ([TipoProblemaID], [Descripcion]) VALUES (1, N'Público objetivo mal segmentado')
INSERT [dbo].[TiposProblema] ([TipoProblemaID], [Descripcion]) VALUES (2, N'Anuncio rechazado o pausado')
INSERT [dbo].[TiposProblema] ([TipoProblemaID], [Descripcion]) VALUES (3, N'Falta de stock tras conversión')
SET IDENTITY_INSERT [dbo].[TiposProblema] OFF
GO
SET IDENTITY_INSERT [dbo].[Ventas] ON 

INSERT [dbo].[Ventas] ([VentaID], [NombreCampana], [Monto]) VALUES (1, N'Campaña Facebook - Cepillos', CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[Ventas] ([VentaID], [NombreCampana], [Monto]) VALUES (2, N'Campaña Instagram - Accesorios', CAST(85000.00 AS Decimal(10, 2)))
INSERT [dbo].[Ventas] ([VentaID], [NombreCampana], [Monto]) VALUES (3, N'Campaña Google Ads - Servicios', CAST(200000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__Venta__F24214655574FFE3] Fecha de script: 23-09-2026 0:08:24 ******/
ALTER TABLE [dbo].[Venta] ADD UNIQUE NONCLUSTERED 
(
	[CodigoVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditoriaLog] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[AuditoriaLog] ADD  DEFAULT (suser_sname()) FOR [UsuarioBD]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Incidencias] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[IncidenciaVenta] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[IncidenciaVenta] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[LogsAuditoria] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Venta] ADD  DEFAULT (getdate()) FOR [FechaVenta]
GO
ALTER TABLE [dbo].[IncidenciaVenta]  WITH CHECK ADD FOREIGN KEY([TipoProblemaID])
REFERENCES [dbo].[TipoProblema] ([TipoProblemaID])
GO
ALTER TABLE [dbo].[IncidenciaVenta]  WITH CHECK ADD FOREIGN KEY([VentaID])
REFERENCES [dbo].[Venta] ([VentaID])
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD FOREIGN KEY([CampanaID])
REFERENCES [dbo].[Campana] ([CampanaID])
GO
/****** Objeto: StoredProcedure [dbo].[sp_InsertarIncidencia] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Procedimiento sp_InsertarIncidencia
CREATE   PROCEDURE [dbo].[sp_InsertarIncidencia]
    @VentaID INT,
    @TipoProblemaID INT,
    @Observacion VARCHAR(MAX),
    @Estado VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    INSERT INTO Incidencias (VentaID, TipoProblemaID, Observacion, Estado, FechaRegistro)
    VALUES (@VentaID, @TipoProblemaID, @Observacion, @Estado, GETDATE());
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ListarIncidencias] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Crear procedimiento sp_ListarIncidencias
CREATE   PROCEDURE [dbo].[sp_ListarIncidencias]
    @Filtro VARCHAR(100) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        IncidenciaID,
        VentaID,
        TipoProblemaID,
        Observacion,
        Estado,
        FechaRegistro
    FROM Incidencias
    WHERE (@Filtro IS NULL OR @Filtro = '' OR Observacion LIKE '%' + @Filtro + '%' OR Estado LIKE '%' + @Filtro + '%')
    ORDER BY IncidenciaID DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerLogs] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Procedimiento sp_ObtenerLogs
CREATE   PROCEDURE [dbo].[sp_ObtenerLogs]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        LogID,
        Accion,
        Usuario,
        Fecha
    FROM LogsAuditoria
    ORDER BY LogID DESC;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerTiposProblema] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_ObtenerTiposProblema]
AS
BEGIN
    SELECT TipoProblemaID, Descripcion FROM TiposProblema;
END;
GO
/****** Objeto: StoredProcedure [dbo].[sp_ObtenerVentas] Fecha de script: 23-09-2026 0:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Procedimientos para llenar las listas desplegables en C#
CREATE   PROCEDURE [dbo].[sp_ObtenerVentas]
AS
BEGIN
    SELECT VentaID, NombreCampana FROM Ventas;
END;
GO
USE [master]
GO
